.nav {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  justify-content: space-between;

  h1 {
    color: var(--light);
  }
}

.home {
  all: unset;
  display: flex;
  align-items: center;
  color: var(--primary);
}

.links {
  display: flex;
  gap: 32px;
  padding-right: 32px;

  a {
    all: unset;
    color: var(--light);
  }
}
