.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
}

.button {
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.table {
  border-collapse: collapse;

  thead {
    background-color: var(--dark);

    th {
      color: var(--light);
      height: 3rem;

      &:first-child {
        border-top-left-radius: 2px;
      }

      &:last-child {
        border-top-right-radius: 2px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &.checked {
        background-color: var(--primary);
        td {
          color: var(--light);
        }
      }
    }

    td {
      padding: 1rem;

      input {
        padding: 1rem;
      }
    }
  }
}
