.outerContainer {
  max-width: 60rem;
  flex: 1;
  margin: 6rem 1rem;
}

.container {
  background-color: var(--white);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 2rem 0;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 2rem;

  p {
    width: max-content;
  }
}

.gradeTable {
  border-collapse: collapse;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 2px;
  overflow: hidden;

  thead {
    background-color: var(--dark);

    th {
      color: var(--light);
      height: 3rem;

      &:first-child {
        border-top-left-radius: 2px;
      }

      &:last-child {
        border-top-right-radius: 2px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        text-decoration: underline;
      }

      td a {
        display: block;
        padding: 1rem;
        text-decoration: unset;
        color: unset;
      }

      td:last-child {
        width: 10rem;
        text-align: center;
      }
    }
  }
}

.attendanceContentWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1rem;
}

.attendanceTable {
  min-width: max-content;
  border-collapse: collapse;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 1;
  border-radius: 2px;
  overflow: hidden;

  thead {
    background-color: var(--dark);

    th {
      color: var(--light);
      height: 3rem;

      &:first-child {
        border-top-left-radius: 2px;
      }

      &:last-child {
        border-top-right-radius: 2px;
      }
    }
  }

  tbody {
    tr {
      &.rowPresent {
        background-color: lighten(#79cdb3, 30%);

        &:nth-child(even) {
          background-color: lighten(#79cdb3, 20%);
        }

        &:hover {
          background-color: lighten(#79cdb3, 10%);
        }
      }
      &.rowAbsent {
        background-color: lighten(#d5403d, 30%);

        &:nth-child(even) {
          background-color: lighten(#d5403d, 20%);
        }

        &:hover {
          background-color: lighten(#d5403d, 10%);
        }
      }
      &.rowExcused {
        background-color: lighten(#404266, 30%);

        &:nth-child(even) {
          background-color: lighten(#404266, 20%);
        }

        &:hover {
          background-color: lighten(#404266, 10%);
        }
      }

      td {
        padding: 1rem;
      }
    }
  }
}

.chartWrapper {
  flex: 1;
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: -2rem -1rem;
  aspect-ratio: 1;
  min-width: 15rem;
}
