.form {
  max-width: 25rem;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.imageContainer {
  position: relative;
  width: 10rem;
  height: 10rem;
  align-self: center;
  border-radius: 11rem;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

  img {
    object-fit: cover;
  }
}

.multiSelect {
  margin-top: 0.5rem;
}
