.container {
  position: relative;
  margin-right: 16px;
}

.profileContainer {
  all: unset;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  img {
    border-radius: 1000px;
    object-fit: cover;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  }
}

.icon {
  position: relative;
  width: 1rem;
  rotate: -90deg;

  div {
    width: 63%;
    height: 2px;
    position: absolute;
    top: 0;
    background-color: var(--light);
    border-radius: 1px;

    transition: all 0.2s ease-in-out;
  }

  .left {
    left: 0;
    rotate: 45deg;
  }

  .right {
    right: 0;
    rotate: -45deg;
  }

  &.active {
    div {
      width: 100%;
    }
  }
}

.menu {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: var(--light);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);

  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &.active {
    max-height: 110px;
  }

  .menuItem {
    all: unset;
    padding: 16px;
    cursor: pointer;
    color: var(--dark);

    &:hover {
      color: var(--light);
      background-color: var(--dark);
      text-decoration: underline;
    }
  }
}
