.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
  padding: 3rem;
  background: var(--light);
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
  gap: 1rem;

  h2 {
    font-size: 1.75rem;
    color: var(--dark);
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    color: var(--dark);

    &:after {
      display: block;
      content: '';
      height: 2px;
      background-color: lightgray;
      width: 100%;

      transition: --p-danger 0.5s;

      background-image: radial-gradient(
        circle,
        var(--accent-yellow) var(--p-danger),
        rgba(0, 0, 0, 0) var(--p-danger)
      );
    }

    &.danger:after {
      --p-danger: 100%;
    }
  }

  input {
    all: unset;
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-top: 8px;
  }

  .error {
    color: var(--accent-yellow);
    font-size: 0.75rem;
    margin: 0;
  }

  a {
    all: unset;
    color: var(--dark);

    span {
      color: var(--accent-yellow);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  background: var(--accent-yellow);
}

@property --p-danger {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
