.grid {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background: #f5f5fa;
}
