.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
  padding: 3rem;
  background: var(--light);
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
  gap: 1rem;

  h2 {
    font-size: 1.75rem;
    color: var(--dark);
  }

  .error {
    display: block;
    color: var(--danger);
    font-size: 0.75rem;
    margin: 0;
  }

  a {
    all: unset;
    color: var(--dark);

    span {
      font-weight: 700;
      color: var(--accent-yellow);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
