.button {
  --color: var(--dark);
  --color-inverted: var(--light);

  all: unset;
  font-family: var(--montserrat);
  font-weight: 700;
  cursor: pointer;
  background-color: var(--color);
  color: var(--color-inverted);
  border-radius: 2px;
  padding: 12px 12px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.1);
  }

  &.loading {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) calc(var(--l-percentage) - 50%),
      rgba(255, 255, 255, 0.3) var(--l-percentage),
      rgba(255, 255, 255, 0) calc(var(--l-percentage) + 50%)
    );

    animation: linear 1s infinite running l-animation;
    box-shadow: none;
    cursor: wait;
  }
}

.accent-pink {
  --color: var(--accent-pink);
  --color-inverted: var(--light);
}

.accent-yellow {
  --color: var(--accent-yellow);
  --color-inverted: var(--light);
}

@property --l-percentage {
  syntax: '<percentage>';
  initial-value: -50%;
  inherits: false;
}

@keyframes l-animation {
  from {
    --l-percentage: -50%;
  }
  to {
    --l-percentage: 150%;
  }
}
