.outerContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.formContainer {
  flex: 1;
  max-width: 60rem;
  min-width: 25rem;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 6rem 1rem 2rem 1rem;

  @media (max-width: 700px) {
    margin: 0 0 2rem 0;
  }

  h1 {
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.error {
  color: var(--danger);
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
  font-family: var(--roboto-slab);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0;

  margin: 0;
  padding: 1rem;
  background-color: var(--dark);
  color: var(--light);
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.videoControls {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 15rem;
}

.files {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.fileContainer {
  flex-grow: 1;
}

.downloadButton {
  all: unset;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 2px;
  background-color: var(--light);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: var(--dark);

  margin-top: 1rem;

  &:hover {
    background-color: var(--primary);
    color: var(--light);

    svg {
      fill: var(--light);
    }
  }

  svg {
    fill: var(--dark);
  }
}

.fileDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p,
  h4 {
    margin: 0;
  }
}

.fileControls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.drop {
  border: 2px dashed var(--dark);
  border-radius: 2px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.lessonViewContainer {
  flex: 1;
  min-width: 32rem;

  @media (max-width: 700px) {
    min-width: unset;
  }
}
