.button {
  --color: var(--dark);
  --color-inverted: var(--light);

  text-decoration: none;
  font-family: var(--montserrat);
  font-weight: 700;
  cursor: pointer;
  background-color: var(--color);
  color: var(--color-inverted);
  border-radius: 2px;
  padding: 12px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.1);
  }
}

.accent-pink {
  --color: var(--accent-pink);
  --color-inverted: var(--light);
}

.accent-yellow {
  --color: var(--accent-yellow);
  --color-inverted: var(--light);
}

.success {
  --color: var(--success);
  --color-inverted: var(--light);
}

.danger {
  --color: var(--danger);
  --color-inverted: var(--light);
}
