.outerContainer {
  max-width: 60rem;
  flex: 1;
  margin: 6rem 1rem;
}

.container {
  background-color: var(--white);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 2rem 0;
}

.chartWrapper {
  position: relative;
  height: 20rem;
  width: 100%;
}

.doubleColumn {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  align-items: flex-start;

  section {
    flex: 1;
    min-width: 25rem;
  }
}

.averageTable {
  border-collapse: collapse;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  width: 100%;

  thead {
    background-color: var(--dark);

    th {
      color: var(--light);
      height: 3rem;

      &:first-child {
        border-top-left-radius: 2px;
      }

      &:last-child {
        border-top-right-radius: 2px;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      td {
        padding: 1rem;

        &:last-child {
          text-align: center;
          width: 8rem;
        }
      }
    }
  }
}
