html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--roboto-slab);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
