.container {
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    color: var(--dark);

    &:after {
      display: block;
      content: '';
      height: 2px;
      background-color: lightgray;
      width: 100%;

      transition: --p-danger 0.5s;

      background-image: radial-gradient(
        circle,
        var(--danger) var(--p-danger),
        rgba(0, 0, 0, 0) var(--p-danger)
      );
    }

    &.danger:after {
      --p-danger: 100%;
    }
  }

  input {
    all: unset;
    cursor: text;
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-top: 8px;
  }

  span {
    display: block;
    color: var(--danger);
    font-size: 0.75rem;
    margin: 0;
  }
}

@property --p-danger {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
